<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="net.veierland.aix"
		android:installLocation="internalOnly">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
			android:icon="@drawable/app_icon"
			android:label="@string/widget_name"
			android:description="@string/app_description"
			android:theme="@style/AixTheme"
			android:usesCleartextTraffic="true">
			
    	<activity android:name=".AixConfigure"
    	    	android:label="@string/title_configure"
    			android:windowSoftInputMode="stateHidden|adjustPan"
    			android:taskAffinity="net.veierland.aix.configure"
        		android:excludeFromRecents="true">

            <intent-filter>
            	<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>
        
        <activity android:name=".AixDeviceProfileActivity"
		    	android:label="@string/device_profiles_title"
		    	android:taskAffinity="net.veierland.aix.configure"
		    	android:windowSoftInputMode="stateHidden|adjustPan"
		    	android:excludeFromRecents="true" />
        
        <activity android:name=".AixLocationSelectionActivity"
        		android:label="@string/location_settings_title"
        		android:taskAffinity="net.veierland.aix.configure"
        		android:windowSoftInputMode="stateHidden|adjustPan"
        		android:excludeFromRecents="true" />
        
        <activity android:name=".AixIntro"
        		android:label="Aix Weather Widget"
        		android:taskAffinity="net.veierland.aix.intro"
        		android:excludeFromRecents="true">
            
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		
		</activity>
        
        <provider android:name=".AixProvider" android:authorities="net.veierland.aix" android:exported="true" />
        
        <service android:name=".AixService" android:permission="android.permission.BIND_JOB_SERVICE" />
    	
    	<receiver android:name=".AixWidget" android:label="@string/widget_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider"
    				android:resource="@xml/aix_widget_provider" />
    	</receiver>
    	
    	<receiver android:name=".AixServiceReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="net.veierland.aix.DELETE_WIDGET" />
				<action android:name="net.veierland.aix.UPDATE_ALL" />
				<action android:name="net.veierland.aix.UPDATE_WIDGET_MINIMAL_DIMENSIONS" />
				<action android:name="net.veierland.aix.UPDATE_WIDGET_PROVIDER_AUTO" />
				<action android:name="net.veierland.aix.UPDATE_WIDGET_PROVIDER_CHANGE" />
				<action android:name="net.veierland.aix.UPDATE_WIDGET" />
				<action android:name="net.veierland.aix.DECREASE_LANDSCAPE_HEIGHT" />
				<action android:name="net.veierland.aix.DECREASE_LANDSCAPE_WIDTH" />
				<action android:name="net.veierland.aix.DECREASE_PORTRAIT_HEIGHT" />
				<action android:name="net.veierland.aix.DECREASE_PORTRAIT_WIDTH" />
				<action android:name="net.veierland.aix.INCREASE_LANDSCAPE_HEIGHT" />
				<action android:name="net.veierland.aix.INCREASE_LANDSCAPE_WIDTH" />
				<action android:name="net.veierland.aix.INCREASE_PORTRAIT_HEIGHT" />
				<action android:name="net.veierland.aix.INCREASE_PORTRAIT_WIDTH" />
				<action android:name="net.veierland.aix.ACCEPT_PORTRAIT_HORIZONTAL_CALIBRATION" />
				<action android:name="net.veierland.aix.ACCEPT_PORTRAIT_VERTICAL_CALIBRATION" />
				<action android:name="net.veierland.aix.ACCEPT_LANDSCAPE_HORIZONTAL_CALIBRATION" />
				<action android:name="net.veierland.aix.ACCEPT_LANDSCAPE_VERTICAL_CALIBRATION" />
    		</intent-filter>
    	</receiver>

		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />

	</application>

</manifest> 