<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="net.veierland.aixd"
		android:versionCode="20"
		android:versionName="0.1.9.6"
		android:installLocation="internalOnly">
	
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
	<application
			android:icon="@drawable/app_icon"
			android:label="@string/widget_name"
			android:description="@string/app_description"
			android:theme="@style/AixTheme">
			
    	<activity android:name=".AixConfigure"
    	    	android:label="@string/title_configure"
    			android:windowSoftInputMode="stateHidden|adjustPan"
    			android:taskAffinity="net.veierland.aixd.configure"
        		android:excludeFromRecents="true">

            <intent-filter>
            	<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>
        
        <activity android:name=".AixDeviceProfileActivity"
		    	android:label="@string/device_profiles_title"
		    	android:taskAffinity="net.veierland.aixd.configure"
		    	android:windowSoftInputMode="stateHidden|adjustPan"
		    	android:excludeFromRecents="true" />
        
        <activity android:name=".AixLocationSelectionActivity"
        		android:label="@string/location_settings_title"
        		android:taskAffinity="net.veierland.aixd.configure"
        		android:windowSoftInputMode="stateHidden|adjustPan"
        		android:excludeFromRecents="true" />
        
        <activity android:name=".AixIntro"
        		android:label="Aix Weather Widget"
        		android:taskAffinity="net.veierland.aixd.intro"
        		android:excludeFromRecents="true">
            
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		
		</activity>
        
        <provider android:name="net.veierland.aixd.AixProvider" android:authorities="net.veierland.aixd" />
        
        <service android:name="net.veierland.aixd.AixService" />
    	
    	<receiver android:name="net.veierland.aix.AixWidget" android:label="@string/widget_name">
		
    	    <intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		
    		<meta-data android:name="android.appwidget.provider"
    				android:resource="@xml/aix_widget_provider" />
    	
    	</receiver>
    				    	
    	<receiver android:name="net.veierland.aixd.AixServiceReceiver" android:enabled="true">
			<intent-filter>
    			<action android:name="android.intent.action.TIMEZONE_CHANGED" />
    			<action android:name="android.intent.action.DATE_CHANGED" />
    			<action android:name="android.intent.action.TIME_SET" />
    			<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    		</intent-filter>
    	</receiver>
    	
    </application>

</manifest> 