<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="net.veierland.aix"
		android:versionCode="12"
		android:versionName="0.1.8.2">
	
	<application
			android:icon="@drawable/app_icon"
			android:label="@string/widget_name"
			android:description="@string/app_description"
			android:debuggable="false"
			android:theme="@style/AixTheme">
    	
    	<activity android:name=".AixConfigure"
    	    	android:label="@string/title_configure"
    			android:windowSoftInputMode="stateHidden|adjustPan"
    			android:excludeFromRecents="true">

            <intent-filter>
            	<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>
        
        <activity android:name=".AixUnitSettingsActivity"
        		android:label="@string/title_unitsettings"
        		android:windowSoftInputMode="stateHidden|adjustPan" />
        
        <activity android:name=".AixLocationSelectionActivity"
        		android:label="@string/title_select_location"
        		android:windowSoftInputMode="stateHidden|adjustPan" />
        
        <provider android:name=".AixProvider" android:authorities="net.veierland.aix" />
        
        <service android:name=".AixService" />
        
        <activity android:name=".AixIntro"
        		android:label="Aix Intro"
        		android:theme="@android:style/Theme.Dialog">
		
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		
		</activity>
    	
    	<receiver android:name=".AixWidget" android:label="@string/widget_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider"
    				android:resource="@xml/aix_widget_provider" />
    	</receiver>
    	
    	<receiver android:name=".AixServiceReceiver" android:enabled="true">
			<intent-filter>
    			<action android:name="android.intent.action.TIMEZONE_CHANGED" />
    			<action android:name="android.intent.action.DATE_CHANGED" />
    			<action android:name="android.intent.action.TIME_SET" />
    			<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    		</intent-filter>
    	</receiver>
    	
    </application>
    
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest> 